body {
  background-color: #36393f;
}

.symbol {
  font-color: #ffffff;
  font-size: 500%;
  font-decoration: none;
}

.symbol:hover {
  font-color: #b9bbbe;
}

h1 {
  font-color: #ffffff;
  font-weight: bold;
  text-align: center;
}
