body {
  background-color: #36393f;
}

header {
  display: block;
  margin: auto;
  background-color: #202225;
  height: 70px;
}

h1 {
  color: #ffffff;
  font-weight: bold;
  text-align: center;
}

.symbol {
  display: inline-block;

  font-weight: bold;
  text-align: center;
  /*position*/
  position: relative;
  left: 50px;
  top: 50px;

  /*text*/
  color: #5570ce;
  font-size: 1000%;
  text-decoration: none;
  background-color: #ffffff;

  /*geomotry*/
  width: 250px;
  height: 250px;
  border-radius: 50%;

  /*border*/
  border: 15px solid #202225;
}

.symbol:hover {
  color: black;
}

.symbol img {
  height: 100%;
  width: 100%;
  border-radius: 100%;
}
